@font-face {
	font-family: "inter";
	src: url("https://cdn.runeterras.com/fonts/Inter-Regular.woff2");
}

@font-face {
	font-family: "inter";
	src: url("https://cdn.runeterras.com/fonts/Inter-Medium.woff2");
	font-weight: 500;
}

@font-face {
	font-family: "inter";
	src: url("https://cdn.runeterras.com/fonts/Inter-SemiBold.woff2");
	font-weight: 600;
}

@font-face {
	font-family: "inter";
	src: url("https://cdn.runeterras.com/fonts/Inter-Bold.woff2");
	font-weight: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	letter-spacing: 0.8px;
}

html {
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #2d2774;
}
